// https://github.com/una/CSSgram

@import 'filters/1977';
@import 'filters/moon';

* {
  box-sizing: border-box;
  background-color: #000;
}

body {
  font-family: 'Unica One', cursive;
  font-size: 1.2rem;
  margin: 0;
}

.landing {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fakebook svg {
  width: 400px;
  margin-bottom: 100px;

  @media(max-width: 560px) {
    width: 250px;
  }
}

.cls-1 {
  fill: #6d6875;
  opacity: 0;
}

.cls-2 {
  fill:#cc208e;
  stroke:#cc208e;
  stroke-miterlimit:10;
  stroke-width:0.5px;
  opacity: 0;
}

.links {
  display: flex;
  opacity: 0;

  .enter, .join {
    @media(max-width: 560px) {
      display: block;
      text-align: center;
    }
  }

  @media(max-width: 560px) {
    display: block;
  }

}

.enter, .join, .btn.btn-secondary,
.change-img-label, .linkedin-profile {
  color: #6D6875;
  border: 1px solid #6D6875;
  padding: 15px;
  font-size: 1rem;
  margin: 10px;
  font-family: 'Unica One', cursive;
  font-size: 1.2rem;
  background-color: transparent;
  transition: background-image 1s ease, color 1s ease;
  border-radius: 0;

  &:hover {
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    color: #FFF;
    border-color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}



.login a {
  border: none;
  position: absolute;
  top: 3%;
  right: 2%;
  background-color: transparent;
  font-size: 1.2rem;
  transition: color 5s ease;

  &:hover {
    color: #CC208E;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
  }
}

.legend {
  position: absolute;
  bottom: 2%;
  z-index: 50;
  opacity: 0;

  p {
    color: #6D6875;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1rem;

    a {
      text-decoration: none;
      color: #CC208E;
    }
  }

  @media(max-width: 560px) {
    display: none;
  }
}


// ---------------> FORM

.form-container {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  margin-top: 60px;
}

@media(max-width: 970px) {
  .form-container {
    width: 90vw;
    display: block;
  }
}

.image-and-filters {
  width: 50%;
  padding: 35px;

  .form-group {
    text-align: right;
    margin-right: 15%;

    @media(max-width: 970px) {
      text-align: center;
      margin: 50px;
      margin-right: 0;
      margin-left: 0;
    }
  }

  @media(max-width: 970px) {
    width: 100%;
  }
}

.big-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 70%;
}

#change-img {
  margin-top: 50px;

  &:focus {
    outline: none;
  }
}

.form-control-file {
  display: none;
}

.change-img-label {
  padding: 10px;
  font-size: 1rem;
  display: inline-block;
  margin: 0 auto;

  &:hover {
    img.upload-grey {
      display: none;
    }

    img.upload-white {
      display: inline;
    }
  }

  img {
    background: transparent;

    &.upload-white {
      display: none;
    }
  }
}

.form-inner {
  width: 50%;
  padding: 35px;

  @media(max-width: 970px) {
    width: 100%;
  }
}

form {
  width: 70%;
  margin: 0 auto;

  @media(max-width: 970px) {
    width: 100%;
  }
}

.form-control {
  font-family: 'Unica One', cursive;
  color: #CC208E;
  border-radius: 0;
  padding: 10px;
  background: none;
  border: 1px solid #6D6875;

  &:focus {
    border: 1px dotted #CC208E;
    color: #FFF;
    background: #000;
  }
}

label {
  color: #6D6875;
  font-family: 'Roboto Condensed', sans-serif;
}

select {
  -webkit-appearance: none;
}

.button-container {
  text-align: right;
}

.btn.btn-secondary {
  font-size: 1rem;
  margin-top: 50px;
}

// -----------------> FILTERS

.filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.filters p {
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #6D6875;
}

.filter {
  width: 25%;
  border: 5px solid transparent;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 60px;
  height: 60px;
  z-index: 8;
  background: transparent;
}

.chosen {
  .check-icon {
    display: block;
  }
}

.filters canvas, .filters img {
  width: 100%;
}


// -------------> PROFILE

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;

  @media(max-width: 970px) {
    display: block;
    width: 90vw;
  }
}

.back-to-grid, .back-home {
  position: absolute;
  top: 3%;
  right: 4%;
  color: #FFF;
  z-index: 5000;
  transition: color 1s ease;

  &:hover {
    color: #CC208E;
    text-decoration: none;
  }
}

.profile p {
  color: #6D6875;
}

.imgWithFilter {
  width: 50%;
  height: 500px;
  opacity: 0;
  transform: translateX(25%);

  @media(max-width: 970px) {
    margin-top: 150px;
    width: 100%;
    height: auto;
  }
}

.imgWithFilter img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.imgWithFilter canvas {
  width: 500px;

  @media(max-width: 970px) {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
}

.userInfo {
  width: 50%;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .info-container {
    width: 60%;

    @media(max-width: 970px) {
      width: 100%;
      margin: 15px;
      margin-top: 80px;
    }
  }

  h1 {
    font-family: 'Unica One', cursive;
    color: #CC208E;
    font-size: 3rem;
  }

  h3 {
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #6D6875;
  }

  .info-item {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20%);
    font-weight: lighter;
  }

  .linkedin-profile {
    display: inline-block;
    margin: 0;
    margin-top: 30px;
  }

  @media(max-width: 970px) {
    width: 100%;
  }
}


// --------------> GRID
.grid-container {
  cursor: grabbing;
}

.transition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background: #000;
  border-radius: 100%;
  transition: all 0.5s ease;

  &.active {
    width: 200vw;
    height: 200vw;
  }
}

.grid-legend {
  z-index: 15;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: #CC208E;
  font-size: 0.8rem;
  font-weight: bolder;
  text-shadow: 1px 1px #333333;
  background: transparent;
}
