// https://github.com/una/CSSgram

@import 'filters/1977';
@import 'filters/moon';

* {
  box-sizing: border-box;
  background-color: #000;
}

body {
  font-family: 'Unica One', cursive;
  font-size: 1.2rem;
  margin: 0;
}

.landing {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 400px;
  margin-bottom: 100px;
}

.links {
  display: flex;
}

.enter, .join, .btn.btn-secondary, .change-img-label {
  color: #6D6875;
  border: 1px solid #6D6875;
  padding: 15px;
  font-size: 1rem;
  margin: 10px;
  font-family: 'Unica One', cursive;
  font-size: 1.2rem;
  background-color: transparent;
  transition: all 1s ease;
  border-radius: 0;

  &:hover {
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    color: #FFF;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-color: #000;
    text-decoration: none;
  }
}

.login a {
  border: none;
  position: absolute;
  top: 3%;
  right: 2%;
  background-color: transparent;
  font-size: 1.2rem;
  transition: color 5s ease;

  &:hover {
    color: #CC208E;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
  }
}

.legend {
  position: absolute;
  bottom: 2%;
  z-index: 50;

  p {
    color: #6D6875;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1rem;

    a {
      text-decoration: none;
      color: #CC208E;
    }
  }
}


// ---------------> FORM

.form-container {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  margin-top: 60px;
}

@media(max-width: 970px) {
  .form-container {
    width: 90vw;
    display: block;
  }
}

.image-and-filters {
  width: 50%;
  padding: 35px;

  .form-group {
    text-align: right;
    margin-right: 15%;

    @media(max-width: 970px) {
      text-align: center;
      margin: 50px;
      margin-right: 0;
      margin-left: 0;
    }
  }

  @media(max-width: 970px) {
    width: 100%;
  }
}

.big-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 70%;
}

#change-img {
  margin-top: 50px;

  &:focus {
    outline: none;
  }
}

.form-control-file {
  display: none;
}

.change-img-label {
  padding: 10px;
  font-size: 1rem;
  display: inline-block;
  margin: 0 auto;

  &:hover {
    img.upload-grey {
      display: none;
    }

    img.upload-white {
      display: inline;
    }
  }

  img {
    background: transparent;

    &.upload-white {
      display: none;
    }
  }
}

.form-inner {
  width: 50%;
  padding: 35px;

  @media(max-width: 970px) {
    width: 100%;
  }
}

form {
  width: 70%;
  margin: 0 auto;

  @media(max-width: 970px) {
    width: 100%;
  }
}

.form-control {
  font-family: 'Unica One', cursive;
  color: #CC208E;
  border-radius: 0;
  padding: 10px;
  background: none;
  border: 1px solid #6D6875;
}

label {
  color: #6D6875;
  font-family: 'Abel', sans-serif;
}

select {
  -webkit-appearance: none;
}

.button-container {
  text-align: right;
}

.btn.btn-secondary {
  font-size: 1rem;
  margin-top: 50px;
}

// -----------------> FILTERS

.filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.filters p {
  width: 100%;
  font-family: 'Abel', sans-serif;
  color: #6D6875;
}

.filter {
  width: 25%;
  border: 5px solid transparent;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 60px;
  height: 60px;
  z-index: 8;
  background: transparent;
}

.chosen {
  .check-icon {
    display: block;
  }
}

.filters canvas, .filters img {
  width: 100%;
}


// -------------> PROFILE

.profile p {
  color: #6D6875;
}
