// https://github.com/una/CSSgram

@import 'filters/1977';
@import 'filters/moon';

* {
  box-sizing: border-box;
  background-color: #000;
}

body {
  font-family: 'Unica One', cursive;
  font-size: 1.2rem;
  margin: 0;
}

.landing {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 400px;
  margin-bottom: 100px;
}

.links {
  display: flex;
}

.enter, .join, form button {
  text-decoration: none;
  color: #6D6875;
  border: 1px solid #6D6875;
  padding: 15px;
  font-size: 1rem;
  margin: 10px;
  font-family: 'Unica One', cursive;
  font-size: 1.2rem;
  background-color: transparent;
  transition: all 1s ease;

  &:hover {
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    color: #FFF;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border: none;
  }
}

.login a {
  border: none;
  position: absolute;
  top: 3%;
  right: 2%;
  background-color: transparent;
  font-size: 1.2rem;
  transition: color 5s ease;

  &:hover {
    color: #CC208E;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
  }
}


// ---------------> FORM
.form-container {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #6D6875;
}

.profile-image {
  width: 50%;

  .big-img {
    width: 500px;
    height: 500px;
  }
}

.image-and-filters {
  margin: 0 auto;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Abel', sans-serif;
}

.profile-img {
  margin-top: 30px;
}

.form-inner {
  width: 50%;
}

form {
  background: #000;
  color: #6D6875;
  width: 90%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Abel', sans-serif;

  button {
    padding: 10px;
    width: 200px;
    margin-top: 50px;
    position: absolute;
    right: 20%;
    bottom: 15%;
    display: flex;
    justify-content: center;
  }
}

.input-field{
  width: 100%;
  display: flex;
  margin-bottom: 30px;

  .input-label {
    font-weight: bolder;
    margin-right: 50px;
    text-align: left;
    width: 30%;
    color: #6D6875;
    padding-top: 10px;
  }

  .input {
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    width: 70%;
    border: none;
    border-bottom: 1px solid #6D6875;
    color: #CC208E;
    padding: 10px;

    &:focus {
      outline: transparent;
    }
  }

  select {
    background: #FFF;
    color: #CC208E;
    margin-top: 30px;
  }
}

// -----------------> FILTERS

.filters {
  width: 100%;
}

.filters p {
  color: red;
}

.filter {
  width: 25%;
  display: inline-block;
  border: 5px solid transparent;

  &:hover {
    cursor: pointer;
  }
}

.chosen {
  border: 5px solid #CC208E;
}

.filters canvas, .filters img {
  width: 100%;
}


// -------------> GRID

// .grid-container canvas {
//   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
//   filter: grayscale(100%);
// }
